<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ smart.project_title }}{% endblock %}</title>
    <meta name="description" content="Admin">
    <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" type="image/png">
    {% block stylesheets %}
        {% block stylesheets_lib %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}

        {% for src in get_css_includes() %}
            <link href="{{ src }}" rel="stylesheet">
        {% endfor %}
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    {% endblock %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body class="menu-expanded">
<main id="main">
    {% block aside_menu %}
        <aside id="aside-menu">
            <div class="aside-menu-title">Menu</div>
            {% block aside_menu_content %}
                {{ knp_menu_render('SmartAdminBundle:Builder:mainMenu', {'template': '@SmartAdmin/menu/main.html.twig', 'currentClass': 'active current'}) }}
            {% endblock %}
        </aside>
    {% endblock %}

    {% block header %}
        <header id="header">
            <a href="#" class="header-logo clearfix">
                {% block brand_name %}{{ smart.project_title }} Admin{% endblock %}
            </a>
            <a href="#" class="header-toggle-aside-menu ion-navicon">
                <i class="fa fa-bars"></i>
            </a>
            {% block header_searchbar %}{% endblock %}

            <div class="header-user">
                {% block header_user_notification %}{% endblock %}
                {% block header_user_dropdown %}
                    <div class="header-user-dropdown dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            <img class="img-circle" src="{{ asset('bundles/smartadmin/images/avatar.jpg') }}"
                                 alt="Admin"/>
                            {% block display_name %}     
                                {% if app.user is not empty and app.user.firstname is defined and app.user.firstname is defined %}
                                    <span>{{ app.user.firstname }} {{ app.user.lastname }}</span>
                                {% else %}
                                    Administrateur
                                {% endif %}
                            {% endblock display_name %}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="header-user-dropdown-menu dropdown-menu">
                            <li>
                                <a href="{{ path('homepage') }}">
                                    <i class="fa fa-undo"></i>Retour sur le site</a>
                            </li>
                            {% if app.user is not empty and route_exist(smart.logout_route) %}
                                <li>
                                    <a href="{{ path(smart.logout_route) }}">
                                        <i class="fa fa-sign-out"></i>Déconnexion</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endblock %}
            </div>
        </header>
    {% endblock %}

    <div id="container">
        {% block flash_message %}
            {% include '@SmartAdmin/common/_flash.html.twig' %}
        {% endblock %}
        {% block container_before %}{% endblock %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        {% block container_after %}{% endblock %}

        {% block footer %}{% endblock %}
    </div>
</main>

<script src="{{ asset('js/admin.min.js') }}"></script>
<script src="{{ asset('bundles/smartadmin/js/admin-theme.js') }}"></script>

<!--[if lt IE 9]>
<script src="{{ asset('js/respond.min.js') }}"></script>
<![endif]-->
<!--[if lt IE 10]>
<script src="{{ asset('js/jquery.placeholder.min.js') }}"></script>
<script>
    jQuery(document).ready(function ($) {
        $('input, textarea').placeholder();
    });
</script>
<![endif]-->

{% include 'SmartCoreBundle:asset:javascripts.html.twig' %}
{% block view_js %}{% endblock %}
</body>
</html>
